body {
    background-color: #120C43;
    position: relative;
}

nav {
    background-color: #120C43;
    position: fixed;
    display: flex;
    width: 100%;
    height: auto;
    font-size: 25px;
    color: #78808d;
    font-family: 'Robot Mono', monospace;
}

section {
    position: absolute;
}

.mainContent {
    top: 25vh;
    left: 100px;
    font-size: 17.5px;
    font-family: 'Robot Mono', monospace;
    color: #dbe540;
}

.subNav {
    display: flex;
    width: auto;
    position: absolute;
    right: 0px;
}

a {
    text-decoration: none;
}

.navDiv {
    display: flex;
    width: auto;
    margin-right: 40px;
}

.navLink {
    font-size: 17px;
    color: #78808d;
    font-family: 'Robot Mono', monospace;
    position: relative;
    top: 13px;
}

.navIcon {
    width: 25px;
    height: 25px;
    position: relative;
    top: 24px;
    margin-right: 10px;
}

#logoIcon {
    width: 75px;
    height: auto;
}

.sideContent {
    position: fixed;
    right: 5vw;
    bottom: 0px;
}

.sideContent > div {
    margin: auto;
    height: auto;
    width: 35px;
}

.sideContent img {
    height: 35px;
    width: 35px;
    margin-top: 10px;
    margin-bottom: 13px;
}

.iconFilter {
    filter: invert(57%) sepia(10%) saturate(474%) hue-rotate(178deg) brightness(85%) contrast(87%);
}

.iconFilter:hover {
    filter: invert(100%) sepia(44%) saturate(3203%) hue-rotate(6deg) brightness(103%) contrast(80%);
    animation-name: iconAnim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.iconFilter:hover::after {
    animation-name: reverseIcon;
    animation-duration: 2s;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

/*    ID's    */

#bubble1:hover {
    animation-duration: 1s;
    animation-name: bubbleHoverAnim;
    animation-fill-mode: forwards;
}

/* Animations */

@keyframes iconAnim{
    0%{
        transform: translate(0px, 0px);
    }
    100%{
        transform: translate(0px, -5px);
    }
}

@keyframes reverseIcon {
    from {transform: translate(0px, -5px);}
    to {transform: translate(0px, 0px);}
}

@keyframes bubbleIdleAnim {
    from {transform: translate(0px, 0px);}
    to {transform: translate(0px, -10px);}
}

@keyframes bubbleHoverAnim {
    from {transform: scale(1, 1);}
    to {transform: scale(1.2, 1.2);}
}

@keyframes reverseBubbleHoverAnim {
    from {transform: scale(1.2, 1.2);}
    to {transform: scale(1, 1);}
}

@keyframes bubblePop {
    0% {
        transform: scale(1.2, 1.2);
        opacity: 100;
    }
    95% {
        transform: scale(1.3, 1.3);
        opacity: 100;
    }
    100% {
        transform: scale(1.31, 1.31);
        opacity: 0%;
    }
}

@keyframes growBubble {
    0% {
        opacity: 100%;
        transform: scale(0, 0);
    }
    95% {
        transform: scale(1.2, 1.2);
    }
    100% {
        transform: scale(1, 1);
    }
}